button{
  background-color:  "white";
  color: "black";
  font-weight: 300;
  font-size: 200%;
  font-family: "Josefin Slab";
}
#rcorners1 {
    border-radius: 25px;
    background: #e6e6e6;
    padding: 20px;
    width: 400px;
    height: 75px;
}
.center {
    margin: auto;
    width: 100%;
    border: 3px ;
    padding: 10px;
    text-align:center;
  }
p{
  font-size: 25px;
  font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.dropbtn {
    border:none;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    opacity:0.9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
